body{background:  #17202a ; 
    color: white;
    font-family:Roboto;}
h1{letter-spacing: 0.1em;line-height: 2em;margin-left: 2em; padding-top: 1em;padding-left: 1em;width: 15em;border-radius: 0.7em;padding-top: 1em;text-transform: uppercase}
h3{letter-spacing: 0.1em;line-height: 2em;padding-left: 2em; width: 15em;border-radius: 0.7em;}
p{letter-spacing: 0.1em;line-height: 2em; text-transform: capitalize; padding-bottom: 1em; color: black; margin-left: 1em; border-radius: 2em;padding-top: 1em; padding-left: 3em;padding-right:3em;width: 75em;text-align: justify;background-color:darkgray;}
form{padding-bottom: 1em; padding-left: 3em;margin-left: 2em;     width: 15em;border-radius: 0.7em;}
ul{margin-left: 3em;     width: 15em;border-radius: 0.7em;}
.inputcontact{padding-left: 7em;margin-bottom: 1em;}
header{height: 5em;width:83em;background-color:  #1c2833;padding-top: 1.2em;margin-bottom: -1.2em;}
.menu{display: inline;word-spacing: 0.3em; letter-spacing: 0.1em;padding-left: 0.5em;}
main{background-color:  #2c3e50;width:83em;background-image: linear-gradient(
    to bottom,
    rgba(252, 252, 53, 0.5),
    rgba(0, 0, 255, 0.5)
  ), url("../images/background.jpg");}
.about :hover{background-color:rgba(0, 0, 255, 0.5);}
#bookpic{border-radius: 0.7em;margin-left: 0.7em;margin-top: -0.7em;}
#mepic{display:inline-block;border-radius: 1em;margin-left: 50em;margin-top: -21em;border-style: dashed;}

.work :hover{background-color:rgba(251, 255, 0, 0.5);padding-bottom: 1em;}
.resume :hover{background-color:rgba(199, 147, 36, 0.5);}
.contact:hover{background-color:rgba(255, 0, 234, 0.4);}

footer{background-color:  #1c2833  ;height: 4em;width: 83em;}
.footernavbar{ display: inline; display: inline;word-spacing: 0.3em; letter-spacing: 0.1em;padding-left: 0.5em;}